*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
header,.content,.aside1,.aside2,footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    background-color: red;
    height: 20vh;
    width: 100%;
}
main{
    display: flex;
}
h1{
    font-size: 3rem;
}
.content{
    background-color: teal;
    height: 70vh;
    width: 25%;
    flex-grow: 1;
}
.aside1{
    background-color: chartreuse;
    height: 70vh;
    width: 25%;
    order:-1;
}
.aside2{
    background-color: rgb(255, 255, 0);
    height: 70vh;
    width: 25%;
}
footer{
    height: 20vh;
    background-color: dodgerblue;
}